*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container_logo{
    padding-left: 20px;
    background-color: white;
    height: 80px;
    width: 100%;
    margin: auto;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.titolo{
    display: inline-block;
    line-height: 100px;
    font-size: 50px;
    vertical-align: middle;
    
}
body{
    background-color:rgb(209, 209, 209);
}

.container_button{
    width: 50%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    border-radius: 5px;
    padding: 10px;
}

#task{
    padding: 5px;
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 10%;
    border: 0;
    margin-left: 25px;
}

#section{
    padding: 5px;
    background-color: white;
    color: rgb(180, 178, 178);
    border-radius: 10%;
    border: 1px solid lightgray;
}

.container_list{
    width: 50%;
    margin: auto;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-left: 2%;
    padding-bottom: 2%;
}

.list {
    list-style: none;
    font-size: 16px;
    margin-top: 10px;
}

.check{
    background-color: #46ADF1;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px;
    
}
h2{padding: 20px 0 0 0;
}


.check1{
    background-color: #5433eb;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px;
}
.check2{
    background-color: #09a356;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px;
}

.check3{
    background-color: #f1ad46;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px;
}

.check4{
    background-color: #f146f1;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px;
}

.check5{
    background-color: #235705;
    color: white;
    border-radius: 13px;
    font-size: 12px;
    padding: 7px;
}





